.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  li {
    margin: 6px;
    list-style: none;
    padding: 1px;
    @media screen and (max-width: $break-small) {
      font-size: 12px;
      margin: 0px;
      padding: 6px;
    }
    a {
      padding: 3px 6px;
      border-radius: 2px;
      color: $color-black;
      &:hover {
        text-decoration: none;
      }
    }
    &.active a {
      background: $color-primary;
      color: #fff;
    }
    &.disabled {
      display: none;
    }
  }
  .prev,
  .next {
    border-bottom: 1px solid $color-black;
  }
}
