*,
*::after,
*::before {
  /* padding or border will not add extra width or height to the box */
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

i.fa {
  cursor: pointer;
}

.isExpanded {
  margin-left: 130px;
  // margin-right: 10px;
  @media screen and (max-width: $break-large) {
    margin-left: 0;
  }
}

button,
input {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 12px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
}
