*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* padding or border will not add extra width or height to the box */
  box-sizing: inherit;
}

html {
  /* root font size(10px) for rem to reference */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding-top: 8rem;
  padding-left: 5rem;
}

i.fa {
  cursor: pointer;
}

.isExpanded {
  margin-left: 150px;
  @media screen and (max-width: $break-medium) {
    margin-left: 0;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.2rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1.2rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1.2rem;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1.2rem;
}
