// break point
$break-small: 576px;
$break-medium: 768px;
$break-large: 1200px;

// color
$color-primary: #1b77ce;
$color-secondary: #dc3545;
$color-secondary-light: #ea8989;
$color-tertiary: #9be497;

$color-grey-light: #f4f6f7;
$color-grey-dark: #aaacac;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 14px;
